<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile with Albums</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .modal-body {
      padding: 20px;
    }

    .album-thumbnail {
      max-width: 50px;
      height: auto;
    }

    .album-modal-thumbnail {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container mt-4" style="max-height: 110vh; overflow-y: auto;">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 h-100">
          <div class="card-body text-center">
            <h5 class="card-title">User information</h5>
            <img src="<%= @user.photo_url %>" class="rounded-circle mb-3" alt="User Photo">
            <%= form_with model: @user, url: user_path(@user), method: :patch do |form| %>
              <div class="form-group">
                <%= form.label :name, class: 'form-label' %>
                <%= form.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.label :username, class: 'form-label' %>
                <%= form.text_field :username, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.label :email, class: 'form-label' %>
                <%= form.email_field :email, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.label :phone, class: 'form-label' %>
                <%= form.text_field :phone, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.label :website, class: 'form-label' %>
                <%= form.text_field :website, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.label :address, "Address", class: 'form-label' %>
                <%= form.text_field :street, placeholder: 'Street', class: 'form-control mb-2' %>
                <%= form.text_field :suite, placeholder: 'Suite', class: 'form-control mb-2' %>
                <%= form.text_field :city, placeholder: 'City', class: 'form-control mb-2' %>
                <%= form.text_field :zipcode, placeholder: 'Zipcode', class: 'form-control' %>
              </div>
              <%= form.submit 'Update User', class: 'btn btn-primary btn-block mt-3' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card h-100" id="album-list-card" style="max-height: calc(110vh - 4rem); overflow-y: hidden;">
          <div class="card-body">
            <h5 class="card-title" style="position: sticky; top: 0; background: white; z-index: 1000;">Albums</h5>
            <% if @albums.any? %>
              <ul class="list-group" id="album-list" style="max-height: calc(110vh - 6rem); overflow-y: auto;">
                <% @albums.each_with_index do |album, index| %>
                  <li class="list-group-item d-flex align-items-center album-item" data-toggle="modal" data-target="#albumModal<%= album['id'] %>" data-album-id="<%= album['id'] %>" data-album-title="<%= album['title'] %>">
                    <img src="#" class="img-thumbnail mr-3 album-thumbnail" alt="Album Photo" id="album-thumbnail-<%= album['id'] %>">
                    <span><%= album['title'] %></span>
                  </li>
                  <div class="modal fade modal-lg" id="albumModal<%= album['id'] %>" tabindex="-1" role="dialog" aria-labelledby="albumModalLabel<%= album['id'] %>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="albumModalLabel<%= album['id'] %>"><%= album['title'] %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-center">
                          <img src="#" class="img-fluid img-thumbnail mb-3 album-modal-thumbnail" id="modal-thumbnail-<%= album['id'] %>" alt="Album Photo">
                          <p><strong>ID:</strong> <span class="album-id"></span></p>
                          <p><strong>Title:</strong> <span class="album-title"></span></p>
                          <p><strong>Thumbnail URL:</strong> <a href="#" class="album-thumbnail-url" target="_blank"></a></p>
                          <p><strong>URL:</strong> <a href="#" class="album-url" target="_blank"></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </ul>
            <% else %>
              <p>No albums found.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function fetch_album_photo(albumId) {
      let apiUrl = `https://jsonplaceholder.typicode.com/photos?albumId=${albumId}`;

      function preloadImage(url) {
        return new Promise((resolve, reject) => {
          let img = new Image();
          img.onload = () => resolve(img);
          img.onerror = reject;
          img.src = url;
        });
      }

      return fetch(apiUrl)
        .then(response => response.json())
        .then(photos => {
          if (photos && photos.length > 0) {
            let thumbnailUrl = photos[0].thumbnailUrl;
            let url = photos[0].url;

            let preloadThumbnail = preloadImage(thumbnailUrl);
            let preloadImageFull = preloadImage(url);

            return Promise.all([preloadThumbnail, preloadImageFull]).then(() => {
              return {
                thumbnailUrl: thumbnailUrl,
                url: url
              };
            });
          } else {
            return { thumbnailUrl: '', url: '' };
          }
        })
        .catch(error => {
          console.error('Error fetching album photos:', error);
          return { thumbnailUrl: '', url: '' };
        });
    }

    $(document).ready(function() {
      $('#album-list-card').css('max-height', 'calc(100vh - 4rem)').css('overflow-y', 'hidden');

      $('.album-item').each(function() {
        var albumId = $(this).data('album-id');
        var thumbnailElement = $(this).find('.album-thumbnail');

        fetch_album_photo(albumId).then(albumData => {
          thumbnailElement.attr('src', albumData.thumbnailUrl);
        });
      });

      $('.album-item').on('click', function () {
        var albumId = $(this).data('album-id');
        var albumTitle = $(this).data('album-title');
        var modal = $(`#albumModal${albumId}`);

        modal.on('show.bs.modal', function () {
          fetch_album_photo(albumId).then(albumData => {
            modal.find('.modal-title').text(albumTitle);
            modal.find('.album-modal-thumbnail').attr('src', albumData.thumbnailUrl);
            modal.find('.album-id').text(albumId);
            modal.find('.album-title').text(albumTitle);
            modal.find('.album-thumbnail-url').attr('href', albumData.thumbnailUrl).text(albumData.thumbnailUrl);
            modal.find('.album-url').attr('href', albumData.url).text(albumData.url);
          });
        });
        modal.modal('show');
      });
    });
  </script>
</body>
</html>
